.discord-btn img {
    position: fixed;
    bottom: 3%;
    right: 3%;
    width: 100px;
    z-index: 9999;
}
.discord-btn img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
/* mobile devices */
@media(max-width: 640px){
    .discord-btn img{
        width: 80px;
    }
}