/* .faq-questionbox{
    border: 2.19507px solid #F4F0E1;
    box-sizing: border-box;
    border-radius: 7.3169px;
    box-shadow: 0px 1.46338px 3.65845px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
    margin: 2vh 10vw;
    padding: 1vh 3vw;
} */

