.vertical-timeline-element-icon{
    border-radius: 4;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
}
.vertical-timeline-element-title, .vertical-timeline-element-subtitle, .vertical-timeline-element--event p,.vertical-timeline-element--session p{
    font-family: "Poppins";
    line-height: 160%;
    text-align: justify;
    letter-spacing: 0.01em;
}

.vertical-timeline-element-title{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}
.vertical-timeline-element-subtitle{
    font-family: "Poppins";
    line-height: 160%;
    text-align: justify;
    letter-spacing: 0.01em;
}
.vertical-timeline-element--event p, .vertical-timeline-element--session p {
    color: black;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    text-align: justify;
    letter-spacing: 0.01em;
}
.vertical-timeline-element-date{
    font-size: 20px !important;
    font-weight: 600 !important;
    color: #000000  !important;
}

.vertical-timeline-element-content span{
    font-size: 20px;
    font-weight: 600;
}

@media (min-width: 1152px){
    .vertical-timeline-element-date{
        color: #FFFFFF !important;
        font-weight: 800 !important;
        font-size: 23px  !important;
    }

}