.icons{
    width: 85%;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* bottom: 30; */
    margin: auto;
}
.icons-tree{
     /* bottom: 30; */
     width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* bottom: 30; */
    margin: auto;
}